{% extends 'base.html.twig' %}

{% block body %}
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <div align ="center" class = "card-panel blue lighten-5">
                <h3> <span class="black-text.text-darken-2.strong">Welcome User!</span></h3>
                <div class="row">
                    <div class ="col s12">&nbsp;</div>
                    <div class ="col s3">&nbsp;</div>
                    <div class ="col s3">
                        <a class="waves-effect waves-light btn blue light-2" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </div>
                    <div class ="col s3">
                        <a class="waves-effect waves-light btn blue light-2" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </div>
                    <div class ="col s12">&nbsp;</div>
                    <div class ="col s12">
                        <h6> <span class="black-text.text-darken-2.strong">Or Login with Facebook</span></h6>
                    </div>
                    <div class ="col s12">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                            <i class="mdi mdi-facebook-box mdi-48px"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
